body{
    padding: 0;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
    font-family: Arial ;
    font-size: 15px;
    padding-top: 60px;
}
.contient{
    height: auto;
}
.menu{
    float:right;
    padding-right: 160px;
}
.menu li{
    display: inline-block;
    margin: 10px;
}
.menu li  a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
   
}
.menu li  a:hover{
    color:rgb(211, 63, 63);
    border-bottom: 3px rgb(211, 63, 63) solid;
   
	

}
nav{
    background-color: #80deea;
    padding-left: 70px;
    width: 100%;
    position: fixed;
    top:0px;
}
.ville{
    width: 350px;
    padding-bottom:420px ;
   background-color:#00000052;
    float: left;
    
}
.ville h2{
    margin-left: 60px;
    
}
.ville h4{
    margin-left: 90px;
    color:black;
    font-weight:normal;
    text-transform:uppercase;
   
}
.ville img{
    margin-left: 60px;
}
.table{
   
    margin-top: 0px;
    
}
.table tr{
    border: 0;
}
td,th{
    border: 0; 
    text-align: justify;
    
}
.titre{
    
    background-color: #f5de0766;
    height: 60px;
    margin-top: 10px;
    padding-left:10px;  
    margin-left: 380px;
    padding-right: 10px;
    
}
.titre h2{
    text-align: center;
    margin-top: 3px;
    
   
}
.decaler{
    border:#00000052 solid 2px;
}
.economip p{   
    text-align: justify;
    margin-left: 10px; 
    margin-right: 20px;
   
   
    
}

 .economip{
   width: 800px;
   
    padding-left:10px;  
    margin-left: 18px;
    padding-left:10px;  
    margin-right:10px ;
    margin-top: 10px;
    
    
    float: left;
   
}
.economis{
    width: 350px;
    
    float: right;
    padding: 10px;
    margin-right:50px ;
    margin-top: 10px;
    border:#00000052 solid 2px;
    background-color: rgb(218 213 204 / 31%);;
    text-align: justify;
}
.economie{
    width: 350px;
    
    float: right;
    padding: 10px;
    margin-right:0px ;
    margin-top: 10px;
    border:#00000052 solid 2px;
    background-color: rgb(218 213 204 / 31%);;
    text-align: justify;
}
.economi{
    width: 350px;
    height: 480px;
    float: right;
    padding: 10px;
    margin-right:6px ;
    margin-top: 10px;
    border:#00000052 solid 2px;
    background-color: rgb(218 213 204 / 31%);;
    text-align: justify;
}
    

footer{
    display: table-row;
    height: 1px;
    background-color: #222222;
    color: white;
   
}
.text{
    float: left;
    padding-right: 330px;
    margin: 10px;
    padding-left: 40px
}
.img{
    float: left;
    padding-right: 350px;
    margin: 10px
}
.icons{
    padding-top : 20px;
    margin-right: 10px;
}
.icons a{
    font-size: 23px;
    margin: 6px;
    text-decoration: none;
    color: white;

}

